@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #555;
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  padding: 6px 28px;
  border-radius: 0;
  font-size: 12px;
  background-color: #fed03d;
  color: #555;

  &:hover {
    background-color: #333333;
    color: white;
    transition: 0.5s;
  }
}

.gray {
  background-color: #333333;
  color: white;

  &:hover {
    background-color: #fed03d;
    color: #555;
    transition: 0.5s;
  }
}
