@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 60%;
}
